@import "tailwindcss";
@plugin "daisyui";

@font-face {
    font-family: "NeueMontreal";
    src: url("/fonts/NeueMontreal-Bold.otf") format("opentype"); /* Adjust the path as necessary */
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "NeueMontreal";
    src: url("/fonts/NeueMontreal-Medium.otf") format("opentype"); /* Adjust the path as necessary */
    font-weight: medium;
    font-style: normal;
  }
  
  @font-face {
    font-family: "NeueMontreal";
    src: url("/fonts/NeueMontreal-Regular.otf") format("opentype"); /* Adjust the path as necessary */
    font-weight: light;
    font-style: normal;
  }

  html, body {
    height: 100%;
    margin: 0; /* Remove default margin */
    background-color: #FAF9F6;
  }